Makefile
**/*.acn
**/*.acr
**/*.alg
**/*.app
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.glg
**/*.glo
**/*.gls
**/*.ist
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.run.xml
**/*.slg
**/*.slo
**/*.sls
**/*.swp
**/*.toc
**/*.fls
**/*.fdb*
**/*.synctex*
**/*.glsdefs*
aux/*
!aux/main.pdf
thesis-*.pdf
assets-back

.DS_Store
comments/
rebuttal_*

main.pdf